
            <ul class="nav nav-list">
                <li class="active">
                    <a href="{{path('home')}}">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                 <li class="">
                    <a href="{{path('user_index')}}">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> User </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
								Client support
							</span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                      

                        <li class="">
                            <a href="{{path('help_request_index')}}">
                                <i class="menu-icon fa fa-caret-right"></i> Active Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="elements.html">
                                <i class="menu-icon fa fa-caret-right"></i> Assigned Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="buttons.html">
                                <i class="menu-icon fa fa-caret-right"></i> Closed Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                       
  

                     

                       
                    </ul>
                </li>

               
                 <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
								Settings
							</span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                      

                        <li class="">
                            <a href="{{path('help_request_index')}}">
                                <i class="menu-icon fa fa-caret-right"></i> Active Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="elements.html">
                                <i class="menu-icon fa fa-caret-right"></i> Assigned Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="buttons.html">
                                <i class="menu-icon fa fa-caret-right"></i> Closed Requests
                            </a>

                            <b class="arrow"></b>
                        </li>

                       
  

                     

                       
                    </ul>
                </li>

            
              

             

               

             
            </ul>